$body-bg: #333844;
$txt-color: #fff;
$boder-radius: 5px;


$color1: rgb(0, 231, 255);
$color2: rgb(255, 0, 231);
$back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);

$charizard1: #fac;
$charizard2: #ddccaa;
$charizardfront: url(https://assets.codepen.io/13471/charizard-gx.webp);

$pika1: #54a29e;
$pika2: #a79d66;
$pikafront: url(https://assets.codepen.io/13471/pikachu-gx.webp);

$eevee1: #efb2fb;
$eevee2: #acc6f8;
$eeveefront: url(https://assets.codepen.io/13471/eevee-gx.webp);

$mewtwo1: #efb2fb;
$mewtwo2: #acc6f8;
$mewtwofront: url(https://assets.codepen.io/13471/mewtwo-gx.webp);


$font-family: "Montserrat", sans-serif;
$mobile-width: 600px;
$tablet-width: 1024px;